@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.single-column, .double-column {
  max-height: 450px;
  min-height: 450px;
  width: 20%;
}

.footer-column {
  display: flex;
  flex-direction: row;
  width: 50%;
  max-height: 250px;
}

section {
  border: 1px solid gray;
  box-sizing: border-box;
  height: 100%;
  flex: 1;
  overflow: auto;
}

.title {
  display: flex;
  justify-content: center;
  align-content: center;
}

.main-title {
  font-size: 40px;
}

.app-container {
  margin: 15px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
}

.board-container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

.postit {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 8px 4px;
  margin: 8px;
  max-width: 250px;
  border: 1px solid #E8E8E8;
  word-wrap: break-word;
  background: linear-gradient(135deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* W3C */
}

.postit > textarea {
  font-family: 'Caveat', cursive;
  font-size: 24px;
  background-color: transparent;
  border: 0px;
  height: 100px;
  resize: none;
}

.postit > textarea:focus {
  outline: none;
}
